# ==========================================
# IaC (OpenTofu / Terraform)
# ==========================================
.terraform/
.opentofu/
.terraform.lock.hcl
.terraform.tfstate.lock.info

# State Files
*.tfstate
*.tfstate.*

# Variables and Secrets
*.tfvars
*.tfvars.json

# Plans and Overrides
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI Configuration
.terraformrc
terraform.rc

# ==========================================
# Ansible & Provisioning
# ==========================================
*.retry
ansible-pull.log
/opt/infra-setup/

# ==========================================
# Segurança e Identidade (CHAVES)
# ==========================================
*.pem
*.key
*.pub
.ts_auth_key
github_deploy_key*
.ssh_config
known_hosts

# ==========================================
# Logs e Debugging
# ==========================================
*.log
crash.log
crash.*.log
cloud-init-output.log

# ==========================================
# Ambiente Local e IDEs
# ==========================================
.env
.idea/
.vscode/
.oci/
*.swp
*~
.DS_Store

# ==========================================
# Python (Dependências de scripts/Ansible)
# ==========================================
__pycache__/
*.py[cod]
*$py.class