---
- name: Debug - Configuring rsyslog client
  debug:
    msg: "Configuring rsyslog to forward logs to {{ central_log_ip }}"

- name: Configurar envio de logs para o servidor central (Rsyslog)
  copy:
    dest: /etc/rsyslog.d/99-central.conf
    content: |
      *.* @@{{ central_log_ip }}:514

      $ActionQueueFileName fwdRule1
      $ActionQueueMaxDiskSpace 1g
      $ActionQueueSaveOnShutdown on
      $ActionQueueType LinkedList
      $ActionResumeRetryCount -1
    owner: root
    group: root
    mode: '0644'
  notify: Restart Rsyslog

- name: Debug - Rsyslog client configured
  debug:
    msg: "Rsyslog client configured to forward to {{ central_log_ip }}:514"